.favorite {
	width: 24px;
	height: 24px;
	background-color: unset;
	background-image: url('/src/assets/images/ratingStar.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
.favoriteCard {
	position: absolute;
	right: 16px;
	bottom: 16px;
}
.favoriteDetails {
	width: 36px;
	height: 36px;
}
.favoriteActive {
	background-image: url('/src/assets/images/ratingStarFilled.svg');
}
