.wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 10;

	&.Active {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(18, 24, 41, 0.8);

	border: 1px solid #20283e;
	backdrop-filter: blur(20px);
	border-radius: 24px;

	&CloseButton {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		width: 40px;
		height: 40px;
		right: 12px;
		top: 12px;

		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(12px);
		border-radius: 8px;
	}
	&Content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 80px;
		border-radius: 16px;
		min-width: 250px;
	}
}
