// variables
$Grey50: #ebeef5;
$Grey300: #8e95a9;

body {
	background: #121829;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: $Grey50;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 120px;
	gap: 16px;

	max-width: 1440px;
	width: 100vw;

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 48px;
		row-gap: 16px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;

		color: #a8aebf;
	}
}

.notFoundPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-top: 40px;

	&__image {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__title {
		font-size: 48px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: -0.02em;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: $Grey300;

		max-width: 588px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
}

.movies {
	&__container {
		max-width: 1440px;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 40px;
	}
	&__item {
	}
}
