@import '../../pages/SignInPage/SignInPage';
// variables
$Grey50: #ebeef5;
$Grey100: #c3c8d4;
$Grey300: #8e95a9;
$Grey400: #767e94;

body {
	background: #121829;

	font-family: 'Poppins', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: $Grey50;
}

.title {
	font-weight: 600;
	font-size: 64px;
	line-height: 1.25;
	letter-spacing: -0.02em;
}

#root {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background: url('../images/Background.svg') fixed center no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 120px;
	gap: 16px;

	max-width: 1440px;
	width: 100%;

	&__searchLogo {
		display: flex;
		gap: 16px;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 48px;
		row-gap: 16px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;

		color: #a8aebf;
	}
}
.headerSearch {
	width: 400px;
	input {
		min-width: 100%;
	}
}

.notFoundPage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	margin-top: 40px;

	&__image {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
	&__title {
		font-size: 48px;
		line-height: 1.17;
		text-align: center;
		letter-spacing: -0.02em;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: $Grey300;

		max-width: 588px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
}

.movies {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	&__container {
		max-width: 1440px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0 110px;
	}
	&__title {
		margin-bottom: 24px;
	}
	&__input {
		margin-bottom: 48px;
	}
	&__itemsCounter {
		margin-bottom: 24px;
	}
	&__area {
		margin-bottom: 156px;
	}
	&__cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 24px;
	}
	&__item {
	}
}

//======================================//

.infoTitle {
	font-weight: 400;
	color: $Grey400;
	margin-bottom: 8px;
}
.infoValue {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.6;
	color: $Grey100;
}

.details {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	&__container {
		max-width: 1440px;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		padding: 0 110px;
		margin-bottom: 160px;
	}
	&__content {
		margin-top: 40px;
	}
}
.content-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__backdrop {
		position: relative;
		width: 1200px;
		height: 480px;
		border-radius: 40px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(54, 44, 146, 0.4) 0%,
				rgba(18, 98, 151, 0.4) 100%
			);
		}
	}
	&__title-block {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		padding: 40px;
		gap: 8px;
		width: 560px;
		margin-left: 80px;
		z-index: 1;
		background: rgba(32, 40, 62, 0.8);
		backdrop-filter: blur(12px);
		border-radius: 24px;
		transform: translate(0, -50%);
	}
	&__title {
		font-size: 32px;
		line-height: 1.25;
		letter-spacing: -0.02em;
	}
	&__main-block {
	}
}
.main-block {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	max-width: 1040px;
	margin-top: 80px;
	&__poster {
		flex: 0 0 46.153%;
		width: 480px;
		height: 720px;
		border-radius: 24px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__info {
		flex: 0 0 46.153%;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__left_right {
		display: flex;
		gap: 100px;
	}
	&__left {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__right {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__infoBlock {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__tagline {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.33;
		letter-spacing: -0.015em;
	}
	&__text {
		font-size: 20px;
		line-height: 1.6;
		font-weight: 400;
		color: $Grey300;
	}
}
